.error {
    color: red;
    font-weight: bold;
    border: solid 3px black;
    padding-left: 10px;
}

.lista {
    list-style: lower-roman;
}

.tabla {
    border: solid 2px black;
    padding-left: 10px;
}

.tabla2 {
    border-style: dashed;
    display: inline;
}


